/* 基本重置樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body {}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* 左側 */
.sidebar {
  /* position: sticky; */
  top: 0;
  padding: 60px;
  background: #fffaf7;
  border-right: 1px solid #f0eaea;
}

.sidebar h1 {
  color: #6b5f5a;
  font-size: 40px;
  letter-spacing: 1px;
}

.sidebar nav {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.sidebar a {
  width: 100px;
  text-align: center;
  text-decoration: none;
  background: #f3e8e6;
  color: #6b5f5a;
  border-radius: 8px;
  transition: 0.3s;
  padding: 6px 12px;
}

.sidebar a:hover {
  background: #ffebe1;
  color: #e6a4a4;
}

/* 名字 */
.name {
  display: flex;
  text-align: center;
}

.name img {
  /* background: #e6a4a4; */
  width: 100px;
  margin-left: 30PX;
}

.name h1 {
  /* background: #e6a4a4; */
  margin-top: 30px;
}

/* 座右銘 */
.motto {
  color: #6b5f5a;
  padding: 20px 0px 20px 0px;
}

/* 技能 */
.label {
  font-size: 12px;
  color: #c2b3ab;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

.skill-category {
  margin-bottom: 20px;
}

/* 技能小標題 */
.label {
  font-size: 12px;
  color: #c2b3ab;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

/* 技能 */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
  color: #6d6460;
  line-height: 1.6;
}

/* 每個標籤 */
.skills span {
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 20px;
  background: #f3e8e6;
  /* 淡粉米色 */
  color: #6b5f5a;
  transition: 0.3s;
}

.skills span:hover {
  background: #dac8c6;
  transform: translateY(-2px);
}



/* 聯絡 */
.contact {
  font-size: 14px;
  color: #6d6460;
  line-height: 1.6;
}

/* ------------------------------------------------------------ */

/* 右側 */
.content {
  background: #dac8c6;
  color: #6b5f5a;
  width: 100%;
  padding: 60px;
  
}

section {
  margin-bottom: 100px;
}

.about {
  color: #6b5f5a;
}


/* 工作經歷 */
.work-group {
  display: flex;
  /* justify-content: center; */
}

.work {
  margin-left: 8vh;
}

.work-label {
  color: #6b5f5a;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

.work-intro {
  font-size: 14px;
  color: #6b5f5a;
  line-height: 1.8;
  margin-bottom: 40px;
}

/* project 卡片 */
.project {
  display: flex;
  width: 100%;
  height: 130px;
  margin-top: 30px;
  margin-bottom: 40px;
  background: rgb(237, 237, 237);
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
}

.project:hover {
  transform: scale(1.02);
}

.project img {
  width: 20%;
  object-fit: cover;
}

.project div {
  padding: 20px;
}

.project a{
  text-decoration: none;
}

/* button */
button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background: #c2b3ab;
  border-radius: 6px;
  cursor: pointer;
  color: #6b5f5a;
}

button:hover {
  background: #dfcdc4;
  color: #6b5f5a;
  
}

.content-me {
  display: block;
  justify-items: center;
  background: #dac8c6;
  color: #6b5f5a;
  width: 100%;
  padding: 60px;
}

/* 動畫 */
/* .fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.6s;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
} */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    /* 左右變上下 */
  }

  .sidebar {
    width: 100%;
    height: auto;
    padding: 40px 20px;
    border-right: none;
    border-bottom: 1px solid #f0eaea;
  }

  .content {
    width: 100%;
    padding: 40px 20px;
  }

  .project {
    flex-direction: column;
    /* 卡片圖片上下排 */
  }

  .project img {
    width: 100%;
    height: auto;
  }

  .sidebar nav {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .sidebar a {
    width: auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}